.container{
  width: 100%;
  max-width: 600px;
}

.title {
  margin: 40px 0 0;

}

.type_title{
  display: block;
}

.ingredients_container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 660px;
  scrollbar-width: thin;
}

.ingredients_container::-webkit-scrollbar {
  width: 12px;
}

.ingredients_container::-webkit-scrollbar-thumb {
  background: #2F2F37;
}

.ingredients_container::-webkit-scrollbar-thumb:hover {
  background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  grid-gap: 32px 24px;
  margin: 0;
  list-style: none;
}


