.container{
  width: 100%;
  max-width: 600px;
  border: 1px dashed #4C4CFF;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

